extends layout

block content
    div(id='messages')

block footer
    div(id='footer')
        input(type='text' id='name' placeholder='Name')
        input(type='text' id='message' placeholder='Message')
        input(type='button' id='send' value='Send')

