doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://cdn.socket.io/4.7.2/socket.io.min.js')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='/javascripts/script.js')
    body
        block content
        block footer
